// Fixed nav buttons (language toggle + payments)
.lang-toggle,
.payments-toggle {
  position: fixed;
  top: 20px;
  z-index: 1000;
  text-decoration: none;
  background: $primary-color;
  border: 2px solid $secondary-color;
  color: $secondary-color;
  -webkit-text-fill-color: $secondary-color;

  &:hover {
    background: $secondary-color;
    color: $white-color;
    -webkit-text-fill-color: $white-color;
  }
}

.lang-toggle {
  right: 20px;
}

.payments-toggle {
  left: 20px;
}
